* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
    display: grid;
    place-items: center;
    height: 100vh;
}
.container {
    height: 50vh;
    width: 50vw;
    background-color: darkslategrey;
    border: solid 1px black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 2rem;
    text-align: center;
}

.container h1 {
    color: rgb(231, 221, 221);
}

.container #botao {
    align-self: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: cadetblue;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: rgb(231, 221, 221);
    font-size: 15px;
    font-weight: 700;
}

#botao:hover {
    background-color: rgb(43, 145, 185);
    color: rgb(127, 228, 194);
    border: solid 2px rgb(43, 145, 185);
    transition: 0.2s;
}

@media (max-width: 768px) {
    .container {
        width: 80vw;
        height: 70vh;
    }
}